@media (max-width: 480px) {
  body {
    font-size: 14px;
    padding: 10px;
  }

  nav {
    display: none; /* ejemplo: ocultar menú en móviles */
  }

body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}

.titiletwo{
  width: 400px;
}
}
